body {
    font-family: sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

main {
    background-color: #e9ecef;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #dee2e6;
}

.titolo {
    font-size: 20px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #dee2e6;
}
footer {
    border-bottom: 2px solid #dee2e6;
    text-align: center;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 6px;
    max-width: 700px;
    width: 100%;
}
